.app-container {
  background-color: #1a1a2e;
  
  
}


/* .card {
  background-color: #222831;
  border: none;
  color: #e1e1e1;
}

.activity-chart {
  height: 200px;
  background-color: #393e46;
  border-radius: 5px;
}




.list-group-item {
  background-color: #393e46;
  border: none;
  color: #393e46;
}
.card-body{
  background-color: #393e46;
} */
